
@{
    ViewBag.Title = "FeedBack";
}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Thanks for the Query we will contact you as soon as possible ! </h1>
            <hr />
            <h1 class="btn btn-default"> @Html.ActionLink("Back to Main Page", "Index", "Home") </h1>

        </div>

    </div>

</div>
